.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 20px;
    margin-block: 10px;
    align-items: center;
}

.Nav_List{
    display: flex;
    flex-direction: row;
    max-width: 800px;
    gap: 40px;
}

.nav_name{
    color: #003366;
    font: var(--body-font);
}

.Menu2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.Line{
    display: block;
    height: 20px;
    width: 1px;
    background-color: #767676;
}
.Nav_List2{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
